<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>
  <b>Zipcode:</b>
  <%=h session[:zipcode] %>
<p>

</p>

<% if admin? %>
<p>
  <b>Is Admin?:</b>
  <%=h admin? %>
</p>

<p>
  <b>Netflix Token:</b>
  <%=h @user.netflix_token %>
</p>

<p>
  <b>Netflix Secret:</b>
  <%=h @user.netflix_token_secret %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>